/*------------------------------
    Testimonial Item
-----------------------------*/
.testimonial-carousel-controls {
  .slider-nav {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 500ms ease-in;
      transform: translateY(-50%);
      height: 60px;
      width: 60px;
      border-radius: 50%;
      text-align: center;
      line-height: 56px;
      color: #001b61;
      font-size: 20px;

      &:hover {
        &.prev-arrow {
          border-color: #53cfa5;
          border-right-color: #e9ecff;
        }

        &.next-arrow {
          border-color: #53cfa5;
          border-left-color: #e9ecff;
        }
      }

      &.prev-arrow {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        border: 3px solid #e9ecff;
      }

      &.next-arrow {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        border: 3px solid #e9ecff;
      }
    }
  }
}

.testimonial-carousel {
  .slick-slide {
    &.slick-center {
      &.ts-outer-wrap {
        .single-testimonial-item {
          .content {
            border-bottom: 3px solid var(--main-color-one);
          }
        }
      }
    }
  }
}

.testimonial-carousel-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.ts-outer-wrap {
  padding: 0 15px;
}

.single-testimonial-item {
  text-align: center;
  position: relative;
  z-index: 0;

  .thumb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    z-index: 0;
    margin: auto;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .content {
    .description {
      font-size: 18px;
      line-height: 32px;
      font-weight: 400;
      padding: 27px 170px 0;
    }

    .author-meta {
      margin-top: 15px;

      .title {
        font-size: 24px;
        line-height: 34px;
        font-weight: 700;
        margin-bottom: 0;
        color: var(--heading-color);
      }

      .designation {
        color: #ff65a6;
      }
    }

    .ratings {
      margin-top: 10px;
      font-size: 16px;
      line-height: 12px;
      color: #ff65a6;
    }
  }
}

.single-testimonial-item-02 {
  position: relative;
  z-index: 0;

  .thumb {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    img {
      border-radius: 50%;
    }
  }

  .icon {
    position: absolute;
    top: 30px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background: #98d16e;
    text-align: center;
    line-height: 60px;
    color: $white;
    font-size: 24px;
    box-shadow: 0 8px 16px 0 rgba(152, 209, 110, 0.2);
  }

  .content {
    border: 2px solid #e7fbff;
    padding: 60px 20px 35px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      bottom: -10px;
      left: 40px;
      height: 20px;
      width: 20px;
      border: 2px solid #e7fbff;
      transform: rotate(45deg);
      background: $white;
      border-top-color: transparent;
      border-left-color: transparent;
    }

    .title {
      font-size: 20px;
      line-height: 30px;
      padding-bottom: 20px;
      font-weight: 700;

      span {
        color: #06f;
      }
    }

    .description {
      font-size: 18px;
      line-height: 35px;
      max-width: 550px;
      font-weight: 400;
    }
  }

  .author-details {
    padding-top: 30px;
    display: flex;
    align-items: center;
    margin-top: 15px;

    .author-meta {
      margin-left: 15px;

      .title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
      }
    }
  }
}